:root {
  --rue-btn-text-color: #ffffff;
  --rue-btn-primary-bg: #007bff;
  --rue-btn-primary-hover-bg: #0056b3;
  --rue-btn-secondary-bg: #6c757d;
  --rue-btn-secondary-hover-bg: #545b62;
  --rue-btn-success-bg: #28a745;
  --rue-btn-success-hover-bg: #218838;
  --rue-btn-info-bg: #17a2b8;
  --rue-btn-info-hover-bg: #138496;
  --rue-btn-warning-bg: #ffc107;
  --rue-btn-warning-hover-bg: #e0a800;
  --rue-btn-danger-bg: #dc3545;
  --rue-btn-danger-hover-bg: #c82333;
  --rue-btn-help-bg: #6f42c1;
  --rue-btn-help-hover-bg: #5d3bb4;
  --rue-btn-light-bg: #f8f9fa;
  --rue-btn-light-hover-bg: #e2e6ea;
  --rue-btn-dark-bg: #343a40;
  --rue-btn-dark-hover-bg: #23272b;
}

.rue_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rue_btn_primary {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-primary-bg);
}

.rue_btn_primary:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-primary-hover-bg);
}

.rue_btn_secondary {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-secondary-bg);
}

.rue_btn_secondary:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-secondary-hover-bg);
}

.rue_btn_success {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-success-bg);
}

.rue_btn_success:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-success-hover-bg);
}

.rue_btn_info {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-info-bg);
}

.rue_btn_info:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-info-hover-bg);
}

.rue_btn_warning {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-warning-bg);
}

.rue_btn_warning:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-warning-hover-bg);
}

.rue_btn_danger {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-danger-bg);
}

.rue_btn_danger:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-danger-hover-bg);
}

.rue_btn_help {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-help-bg);
}

.rue_btn_help:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-help-hover-bg);
}

.rue_btn_light {
  color: #979da3;
  background-color: var(--rue-btn-light-bg);
}

.rue_btn_light:hover {
  color: #979da3;
  background-color: var(--rue-btn-light-hover-bg);
}

.rue_btn_dark {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-dark-bg);
}

.rue_btn_dark:hover {
  color: var(--rue-btn-text-color);
  background-color: var(--rue-btn-dark-hover-bg);
}

.rue_btn_sm {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  border: transparent;
  border-radius: 0.2rem;
}

.rue_btn_lg {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: 0.3rem;
}

.rue_btn_md {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border: transparent;
  border-radius: 0.25rem;
}

.rue_btn_xl {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.75rem 1.5rem;
  border: transparent;
  border-radius: 0.35rem;
}

.rue_btn_xxl {
  font-size: 1.75rem;
  line-height: 1.5;
  padding: 0.75rem 1.5rem;
  border: transparent;
  border-radius: 0.35rem;
}

.rue_btn_custom {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 0.75rem 19.9rem;
  border: transparent;
  border-radius: 0.35rem;
}

.rue_btn:disabled,
.rue_btn.disabled {
  opacity: 0.65;
  pointer-events: none;
}