.rue_input {
    width: 100%;
    border: 1px solid hsl(240, 5.9%, 90%);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / .05)
}

.rue_input:focus-visible {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color: #007bff;
    box-shadow: 0 0 0 4px rgba(0, 123, 255, .25)
}

.sm.rue_input::placeholder {
    color: #929299;
    font-weight: 400;
    font-size: 12px
}

.md.rue_input::placeholder {
    color: #929299;
    font-weight: 400;
    font-size: 14px
}

.lg.rue_input::placeholder {
    color: #929299;
    font-weight: 400;
    font-size: 16px
}

.sm.rue_input {
    padding: 6px;
    font-size: 14px
}

.md.rue_input {
    padding: 8px;
    font-size: 16px
}

.lg.rue_input {
    padding: 10px;
    font-size: 18px
}