.rue_sectionHeader {
    padding: 20px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.rue_sectionHeader.center {
    text-align: center;
}

.rue_sectionHeader.left {
    text-align: left;
}

.rue_sectionHeader.right {
    text-align: right;
}

.rue_title {
    margin: 1.5rem 0 1rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: #111827;
}

.rue_subtitle {
    margin: 10px 0 0;
    font-weight: 400;
    line-height: 1.75;
    color: #111827;
}

.rue_subtitle.xs,
.rue_title.xs {
    font-size: 1em;
}

.rue_subtitle.sm,
.rue_title.sm {
    font-size: 1.5em;
}

.rue_subtitle.md,
.rue_title.md {
    font-size: 2em;
}

.rue_subtitle.lg,
.rue_title.lg {
    font-size: 2.5em;
}

.rue_subtitle.xl,
.rue_title.xl {
    font-size: 3em;
}

.rue_subtitle.xs {
    font-size: 0.75em;
}