.layout_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout_top_nav {
  width: 100%;
  height: 40px;
  position: fixed;
}

.layout_body {
  display: flex;
  margin-top: 40px;
}

.layout_body_side_nav {
  border-right: 1px solid #ccc;
  width: 15%;
  height: calc(100vh - 40px);
}

.layout_body_content {
  border: 1px solid transparent;
  /* width: calc(100% - 15%); */
  /* left: 15%; */
  /* height: calc(100vh - 40px); */
}
