.rue_tabsContainer {
    width: 100%;
    overflow: hidden;
    background-color: #fff !important
}

.rue_tabList {
    display: flex;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    overflow-x: scroll !important;
}

.rue_tabList::-webkit-scrollbar {
    -webkit-appearance: scrollbar;
    height: 2px;
    width: 2px;
}

.rue_tabList::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.rue_tabButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    background: 0 0;
    cursor: pointer;
    transition: background-color .2s, color .2s;
    margin-right: 5px;
    min-width: 140px;
    max-width: 160px;
}

.rue_tabButton:hover {
    background-color: rgba(212, 206, 206, .587);
    color: #000
}

.rue_tabButton:disabled {
    cursor: not-allowed;
    opacity: .6
}

.rue_activeTab {
    font-weight: 700
}

.rue_lg,
.rue_md,
.rue_sm {
    font-weight: 600
}

.rue_tabContent {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    color: #000;
    font-size: 14px;
    min-height: 80px;
    max-height: 90vh;
    overflow: auto;
}

.rue_leftIcon,
.rue_rightIcon {
    display: flex;
    align-items: center
}

.rue_leftIcon {
    margin-right: 8px
}

.rue_rightIcon {
    margin-left: 8px
}

.rue_buttonText {
    flex: 1;
    text-align: center
}

.rue_danger,
.rue_dark,
.rue_help,
.rue_info,
.rue_light,
.rue_primary,
.rue_secondary,
.rue_success,
.rue_warning {
    background-color: #f8f9fa
}

.rue_dangerButton,
.rue_darkButton,
.rue_helpButton,
.rue_infoButton,
.rue_lightButton,
.rue_primaryButton,
.rue_secondaryButton,
.rue_successButton,
.rue_warningButton {
    color: #000
}

.rue_primary .rue_activeTab {
    color: #fff;
    background-color: #007bff
}

.rue_primary .rue_activeTab:hover {
    color: #fff;
    background-color: #0056b3
}

.rue_primary .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.rue_secondary .rue_activeTab {
    color: #fff;
    background-color: #6c757d
}

.rue_secondary .rue_activeTab:hover {
    color: #fff;
    background-color: #545b62
}

.rue_secondary .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.rue_success .rue_activeTab {
    color: #fff;
    background-color: #28a745
}

.rue_success .rue_activeTab:hover {
    color: #fff;
    background-color: #218838
}

.rue_success .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.rue_danger .rue_activeTab {
    color: #fff;
    background-color: #dc3545
}

.rue_danger .rue_activeTab:hover {
    color: #fff;
    background-color: #c82333
}

.rue_danger .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.rue_warning .rue_activeTab {
    color: #fff;
    background-color: #ffc107
}

.rue_warning .rue_activeTab:hover {
    color: #fff;
    background-color: #e0a800
}

.rue_warning .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.rue_info .rue_activeTab {
    color: #fff;
    background-color: #17a2b8
}

.rue_info .rue_activeTab:hover {
    color: #fff;
    background-color: #138496
}

.rue_info .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.rue_dark .rue_activeTab {
    color: #fff;
    background-color: #343a40
}

.rue_dark .rue_activeTab:hover {
    color: #fff;
    background-color: #23272b
}

.rue_dark .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.rue_light .rue_activeTab {
    color: #979da3;
    background-color: #f8f9fa
}

.rue_light .rue_activeTab:hover {
    color: #979da3;
    background-color: #e2e6ea
}

.rue_light .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.rue_help .rue_activeTab {
    color: #fff;
    background-color: #6f42c1
}

.rue_help .rue_activeTab:hover {
    color: #fff;
    background-color: #5d3bb4
}

.rue_help .rue_activeTab:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(111, 66, 193, .5)
}

.rue_sm {
    font-size: 12px;
    padding: 5px 10px
}

.rue_md {
    font-size: 14px;
    padding: 10px 15px
}

.rue_lg {
    font-size: 16px;
    padding: 15px 20px
}

@media (max-width:480px) {
    .rue_tabButton {
        font-size: 12px;
        padding: 10px 12px
    }

    .rue_leftIcon,
    .rue_rightIcon {
        font-size: 14px
    }
}