.rue_toast.danger,
.rue_toast.danger:hover,
.rue_toast.help,
.rue_toast.help:hover,
.rue_toast.info,
.rue_toast.info:hover,
.rue_toast.primary,
.rue_toast.primary:hover,
.rue_toast.secondary,
.rue_toast.secondary:hover,
.rue_toast.success,
.rue_toast.success:hover,
.rue_toast.warning,
.rue_toast.warning:hover {
  color: #ffffff;
}

@keyframes bounce {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  40% {
    transform: translateY(5px);
    opacity: 1;
  }

  60% {
    transform: translateY(-3px);
  }

  80% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(0);
  }
}

.rue_toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px;
  width: 320px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 0 2px;
  background-color: #fff;
  /* opacity: 0; */
  /* transition: opacity 1s ease-out 0.5s; */
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.rounded {
  border-radius: 2rem;
}

.rue_toast_content {
  font-size: 16px;
  padding: 5px;
}

.rue_toast_close {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.rue_toast.primary {
  background-color: #007bff;
}

.rue_toast.primary:hover {
  background-color: #0056b3;
}

.rue_toast.secondary {
  background-color: #6c757d;
}

.rue_toast.secondary:hover {
  background-color: #545b62;
}

.rue_toast.success {
  background-color: #28a745;
}

.rue_toast.success:hover {
  background-color: #218838;
}

.rue_toast.info {
  background-color: #17a2b8;
}

.rue_toast.info:hover {
  background-color: #138496;
}

.rue_toast.warning {
  background-color: #ffc107;
}

.rue_toast.warning:hover {
  background-color: #e0a800;
}

.rue_toast.danger {
  background-color: #dc3545;
}

.rue_toast.danger:hover {
  background-color: #c82333;
}

.rue_toast.help {
  background-color: #6f42c1;
}

.rue_toast.help:hover {
  background-color: #5d3bb4;
}

.rue_toast.light {
  color: #212529;
  background-color: #f8f9fa;
}

.rue_toast.light:hover {
  color: #212529d0;
  background-color: #e2e6ea;
}

.rue_toast.dark {
  color: #ffffff;
  background-color: #343a40;
}

.rue_toast.dark:hover {
  color: #ffffff;
  background-color: #23272b;
}