:root {
    --rue-btn-text-color: #ffffff;
    --rue-btn-primary-bg: #007bff;
    --rue-btn-primary-hover-bg: #0056b3;
    --rue-btn-secondary-bg: #6c757d;
    --rue-btn-secondary-hover-bg: #545b62;
    --rue-btn-success-bg: #28a745;
    --rue-btn-success-hover-bg: #218838;
    --rue-btn-info-bg: #17a2b8;
    --rue-btn-info-hover-bg: #138496;
    --rue-btn-warning-bg: #ffc107;
    --rue-btn-warning-hover-bg: #e0a800;
    --rue-btn-danger-bg: #dc3545;
    --rue-btn-danger-hover-bg: #c82333;
    --rue-btn-help-bg: #6f42c1;
    --rue-btn-help-hover-bg: #5d3bb4;
    --rue-btn-light-bg: #f8f9fa;
    --rue-btn-light-hover-bg: #e2e6ea;
    --rue-btn-dark-bg: #343a40;
    --rue-btn-dark-hover-bg: #23272b;
}

.rue_breadcrumb_container {
    padding: 4px;
}

.rue_breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rue_breadcrumb_item {
    display: inline-block;
    margin-right: 5px;
}

.rue_breadcrumb_link {
    display: flex;
    align-items: center;
}

.rue_breadcrumb_separator {
    margin-right: 5px;
    color: #2d3748;
}

.rue_breadcrumb_text {
    color: #2d3748;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
}

.rue_breadcrumb_text:hover {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    border-color: #007bff;
}

.rue_breadcrumb_item.active .rue_breadcrumb_text {
    color: #2d3748;
}

.rue_breadcrumb_sm {
    font-size: 12px;
    font-weight: 500;
}

.rue_breadcrumb_md {
    font-size: 16px;
    font-weight: 500;
}

.rue_breadcrumb_lg {
    font-size: 18px;
    font-weight: 500;
}

.rue_breadcrumb_default {
    border: 1px solid #ccc;
    color: #2d3748;
}

.rue_breadcrumb_primary {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-primary-bg);
}

.rue_breadcrumb_primary:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-primary-hover-bg);
}

.rue_breadcrumb_secondary {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-secondary-bg);
}

.rue_breadcrumb_secondary:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-secondary-hover-bg);
}

.rue_breadcrumb_success {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-success-bg);
}

.rue_breadcrumb_success:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-success-hover-bg);
}

.rue_breadcrumb_info {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-info-bg);
}

.rue_breadcrumb_info:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-info-hover-bg);
}

.rue_breadcrumb_warning {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-warning-bg);
}

.rue_breadcrumb_warning:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-warning-hover-bg);
}

.rue_breadcrumb_danger {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-danger-bg);
}

.rue_breadcrumb_danger:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-danger-hover-bg);
}

.rue_breadcrumb_help {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-help-bg);
}

.rue_breadcrumb_help:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-help-hover-bg);
}

.rue_breadcrumb_light {
    color: #979da3;
    background-color: var(--rue-btn-light-bg);
}

.rue_breadcrumb_light:hover {
    color: #979da3;
    background-color: var(--rue-btn-light-hover-bg);
}

.rue_breadcrumb_dark {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-dark-bg);
}

.rue_breadcrumb_dark:hover {
    color: var(--rue-btn-text-color);
    background-color: var(--rue-btn-dark-hover-bg);
}