.rue_breadcrumb_container {
    padding: 4px;
}

.rue_breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rue_breadcrumb_item {
    display: inline-block;
    margin-right: 5px;
}

.rue_breadcrumb_link {
    display: flex;
    align-items: center;
}

.rue_breadcrumb_separator {
    margin-right: 5px;
    color: #2d3748;
}

.rue_breadcrumb_text {
    color: #2d3748;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
}

.rue_breadcrumb_text:hover {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    border-color: #007bff;
}

.rue_breadcrumb_item.active .rue_breadcrumb_text {
    color: #2d3748;
}

.rue_breadcrumb_sm {
    font-size: 12px;
    font-weight: 500;
}

.rue_breadcrumb_md {
    font-size: 16px;
    font-weight: 500;
}

.rue_breadcrumb_lg {
    font-size: 18px;
    font-weight: 500;
}

.rue_breadcrumb_default {
    border: 1px solid #ccc;
    color: #2d3748;
}

.rue_breadcrumb_primary {
    color: #ffffff;
    background-color: #007bff;
}

.rue_breadcrumb_primary:hover {
    color: #ffffff;
    background-color: #0056b3;
}

.rue_breadcrumb_secondary {
    color: #ffffff;
    background-color: #6c757d;
}

.rue_breadcrumb_secondary:hover {
    color: #ffffff;
    background-color: #545b62;
}

.rue_breadcrumb_success {
    color: #ffffff;
    background-color: #28a745;
}

.rue_breadcrumb_success:hover {
    color: #ffffff;
    background-color: #218838;
}

.rue_breadcrumb_info {
    color: #ffffff;
    background-color: #17a2b8;
}

.rue_breadcrumb_info:hover {
    color: #ffffff;
    background-color: #138496;
}

.rue_breadcrumb_warning {
    color: #ffffff;
    background-color: #ffc107;
}

.rue_breadcrumb_warning:hover {
    color: #ffffff;
    background-color: #e0a800;
}

.rue_breadcrumb_danger {
    color: #ffffff;
    background-color: #dc3545;
}

.rue_breadcrumb_danger:hover {
    color: #ffffff;
    background-color: #c82333;
}

.rue_breadcrumb_help {
    color: #ffffff;
    background-color: #6f42c1;
}

.rue_breadcrumb_help:hover {
    color: #ffffff;
    background-color: #5d3bb4;
}

.rue_breadcrumb_light {
    color: #979da3;
    background-color: #f8f9fa;
}

.rue_breadcrumb_light:hover {
    color: #979da3;
    background-color: #e2e6ea;
}

.rue_breadcrumb_dark {
    color: #ffffff;
    background-color: #343a40;
}

.rue_breadcrumb_dark:hover {
    color: #ffffff;
    background-color: #23272b;
}