.rue_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rue_logo {
    height: 30px;
}

.rue_navlinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rue_navlinks>a {
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
}

.rue_controls {
    display: flex;
    gap: 3px;
    cursor: pointer;
}

.rue_navbar.primary {
    color: #ffffff;
    background-color: #007bff;
}

.rue_navbar.secondary {
    color: #ffffff;
    background-color: #6c757d;
}

.rue_navbar.success {
    color: #ffffff;
    background-color: #28a745;
}

.rue_navbar.info {
    color: #ffffff;
    background-color: #17a2b8;
}

.rue_navbar.warning {
    color: #ffffff;
    background-color: #ffc107;
}

.rue_navbar.danger {
    color: #ffffff;
    background-color: #dc3545;
}

.rue_navbar.help {
    color: #ffffff;
    background-color: #6f42c1;
}

.rue_navbar.light {
    color: #212529;
    background-color: #f8f9fa;
}

.rue_navbar.dark {
    color: #ffffff;
    background-color: #343a40;
}