.rue_dynamic_table {
    width: 100% !important;
    border-collapse: collapse;
    border-radius: 5px;
    background-color: white;
    padding: 5px;

}

.rue_dynamic_table,
.rue_dynamic_table_thead,
.rue_dynamic_table_tr {
    text-align: left;
    color: rgb(39, 39, 40);
}

.rue_dynamic_table_th {
    color: rgb(39, 39, 40);
    font-size: 12px !important;
    font-weight: 500;

}

.rue_dynamic_table_td,
.rue_dynamic_table_th {
    border: 1px solid #dddddd !important;
    padding: 5px;
}

.rue_dynamic_table .rue_dynamic_table_tbody .rue_dynamic_table_tr {
    border-bottom: 1px solid #dddddd;
}

/* .rue_dynamic_table .rue_dynamic_table_tbody .rue_dynamic_table_tr:nth-of-type(even) {
    background-color: rgba(243, 243, 243, 0.815);
} */

.rue_dynamic_table_input {
    border: 2px solid transparent;
    width: 8em;
    height: 1.5em;
    padding: 0 0.2em 0 0.2em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 5px;
    transition: all 0.5s;
}

.rue_dynamic_table_input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.rue_dynamic_table_header_edit_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.rue_dynamic_table_controls {
    border: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 2px;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    margin: 5px;
    top: 35px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 1000;
}

.rue_dynamic_table_column_controls_btn,
.rue_dynamic_table_row_controls_btn {
    position: relative;
}