.rue_searchBar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
}

.rue_searchBar:hover {
    outline: 0;
    border-color: #007bff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.rue_icon {
    color: #888;
    margin-right: 8px
}

.rue_input {
    border: none;
    outline: 0;
    flex: 1;
    font-size: 16px
}

.rue_input::placeholder {
    color: #aaa
}

.rue_searchBar.rue_sm {
    padding: 8px
}

.rue_searchBar.rue_sm .rue_input {
    font-size: 14px
}

.rue_searchBar.rue_sm .rue_icon {
    width: 16px;
    height: 16px
}

.rue_searchBar.rue_md {
    padding: 6px
}

.rue_searchBar.rue_md .rue_input {
    font-size: 16px
}

.rue_searchBar.rue_md .rue_icon {
    width: 20px;
    height: 20px
}

.rue_searchBar.rue_lg {
    padding: 8px
}

.rue_searchBar.rue_lg .rue_input {
    font-size: 20px
}

.rue_searchBar.rue_lg .rue_icon {
    width: 24px;
    height: 24px
}