.rue_grid_background {
    top: 0;
    left: 0;
    overflow: auto;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-color: rgba(232, 234, 237, 0.252);
    z-index: -1;
}