.rue_splitter_first,
.rue_splitter_second {
    display: flex;
    overflow: auto;
    padding: 5px;
}

.rue_splitter {
    border: 1px solid rgb(203 213 225);
    border-radius: 5px;
    display: flex;
    height: 14rem;
    width: 100%;
}

.rue_splitter_first {
    min-width: 10%;
}

.rue_splitter.horizontal .rue_splitter_first {
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.rue_splitter.vertical .rue_splitter_first {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.rue_splitter_resizer {
    background: rgba(203, 213, 225, 0.174);
    cursor: ew-resize;
    user-select: none;
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rue_splitter_resizer.horizontal {
    width: 4px;
    height: 100%;
}

.rue_splitter_resizer.vertical {
    width: 100%;
    height: 4px;
    cursor: ns-resize;
}

.rue_splitter_resizer:hover {
    background: rgba(127, 143, 163, 0.174);
}

.rue_splitter_resizer_center {
    background: rgb(87, 88, 91);
    border-radius: 2px;
}

.rue_splitter_resizer_center.horizontal {
    width: 4px;
    height: 25px;
}

.rue_splitter_resizer_center.vertical {
    width: 25px;
    height: 4px;
}

.rue_splitter_second {
    min-width: 10%;
    flex: 1;
}

.rue_splitter.horizontal .rue_splitter_second {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.rue_splitter.vertical .rue_splitter_second {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.rue_splitter.horizontal {
    flex-direction: row;
}

.rue_splitter.vertical {
    flex-direction: column;
}