.rue_fullScreen_container{
    display: flex;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}
.rue_fullScreen_icon>svg {
    padding: 0;
    font-size: 1rem !important;
    text-align: center !important;
    margin-top: 4px;
}