.rue_dots_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%
}

.rue_dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    -webkit-animation: 1.5s ease-in-out infinite pulse;
    animation: 1.5s ease-in-out infinite pulse
}

.rue_dot:last-child {
    margin-right: 0
}

.rue_dot:first-child {
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.rue_dot:nth-child(2) {
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

.rue_dot:nth-child(3) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

@-webkit-keyframes pulse {

    0%,
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        background-color: #b3d4fc;
        -webkit-box-shadow: 0 0 0 0 rgba(178, 212, 252, .7);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, .7)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        background-color: #6793fb;
        -webkit-box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0)
    }
}

@keyframes pulse {

    0%,
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
        background-color: #b3d4fc;
        -webkit-box-shadow: 0 0 0 0 rgba(178, 212, 252, .7);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, .7)
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        background-color: #6793fb;
        -webkit-box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0)
    }
}

/* !barWave */
.rue_bar_wave_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.rue_primary_loading:after,
.rue_primary_loading:before {
    position: absolute;
    top: 0;
    content: ''
}

.rue_primary_loading:before {
    left: -19.992px
}

.rue_primary_loading:after {
    left: 19.992px;
    -webkit-animation-delay: .32s !important;
    animation-delay: .32s !important
}

.rue_primary_loading,
.rue_primary_loading:after,
.rue_primary_loading:before {
    background: #076fe5;
    -webkit-animation: .8s ease-in-out infinite loading-keys-app-loading;
    animation: .8s ease-in-out infinite loading-keys-app-loading;
    width: 13.6px;
    height: 32px
}

.rue_primary_loading {
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    right: calc(50% - 6.8px);
    top: calc(50% - 16px);
    -webkit-animation-delay: .16s !important;
    animation-delay: .16s !important
}

@-webkit-keyframes loading-keys-app-loading {

    0%,
    100%,
    80% {
        opacity: .75;
        -webkit-box-shadow: 0 0 #076fe5;
        box-shadow: 0 0 #076fe5;
        height: 32px
    }

    40% {
        opacity: 1;
        -webkit-box-shadow: 0 -8px #076fe5;
        box-shadow: 0 -8px #076fe5;
        height: 40px
    }
}

@keyframes loading-keys-app-loading {

    0%,
    100%,
    80% {
        opacity: .75;
        -webkit-box-shadow: 0 0 #076fe5;
        box-shadow: 0 0 #076fe5;
        height: 32px
    }

    40% {
        opacity: 1;
        -webkit-box-shadow: 0 -8px #076fe5;
        box-shadow: 0 -8px #076fe5;
        height: 40px
    }
}


/* !dot-spinner */
.rue_dot_spinner {
    --uib-size: 2.8rem;
    --uib-speed: .9s;
    --uib-color: #183153;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size)
}

.rue_dot_spinner_dot {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    width: 100%
}

.rue_dot_spinner_dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: .5;
    -webkit-animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    -webkit-box-shadow: 0 0 20px rgba(18, 31, 53, .3);
    box-shadow: 0 0 20px rgba(18, 31, 53, .3)
}

.rue_dot_spinner_dot:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.rue_dot_spinner_dot:nth-child(2)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.875);
    animation-delay: calc(var(--uib-speed) * -.875)
}

.rue_dot_spinner_dot:nth-child(3) {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.rue_dot_spinner_dot:nth-child(3)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.75);
    animation-delay: calc(var(--uib-speed) * -.75)
}

.rue_dot_spinner_dot:nth-child(4) {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.rue_dot_spinner_dot:nth-child(4)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.625);
    animation-delay: calc(var(--uib-speed) * -.625)
}

.rue_dot_spinner_dot:nth-child(5) {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.rue_dot_spinner_dot:nth-child(5)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.5);
    animation-delay: calc(var(--uib-speed) * -.5)
}

.rue_dot_spinner_dot:nth-child(6) {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg)
}

.rue_dot_spinner_dot:nth-child(6)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.375);
    animation-delay: calc(var(--uib-speed) * -.375)
}

.rue_dot_spinner_dot:nth-child(7) {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.rue_dot_spinner_dot:nth-child(7)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.25);
    animation-delay: calc(var(--uib-speed) * -.25)
}

.rue_dot_spinner_dot:nth-child(8) {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg)
}

.rue_dot_spinner_dot:nth-child(8)::before {
    -webkit-animation-delay: calc(var(--uib-speed) * -.125);
    animation-delay: calc(var(--uib-speed) * -.125)
}

@-webkit-keyframes pulse0112 {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: .5
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes pulse0112 {

    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: .5
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

/* !newtons-cradle */
.rue_newtons_cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size)
}

.rue_newtons_cradle_dot {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 25%;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

.rue_newtons_cradle_dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color)
}

.rue_newtons_cradle_dot:first-child {
    -webkit-animation: swing var(--uib-speed) linear infinite;
    animation: swing var(--uib-speed) linear infinite
}

.rue_newtons_cradle_dot:last-child {
    -webkit-animation: swing2 var(--uib-speed) linear infinite;
    animation: swing2 var(--uib-speed) linear infinite
}

@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    25% {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }
}

@keyframes swing {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    25% {
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }
}

@-webkit-keyframes swing2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    75% {
        -webkit-transform: rotate(-70deg);
        transform: rotate(-70deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@keyframes swing2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear
    }

    50% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }

    75% {
        -webkit-transform: rotate(-70deg);
        transform: rotate(-70deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}