.rue_sectionHeader {
    display: flex;
    width: 100%
}

.rue_sectionHeader_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column
}

.rue_sectionHeader_controls {
    display: flex;
    align-items: center
}

.rue_sectionHeader_title {
    margin-bottom: 8px
}

.rue_sectionHeader_subtitle {
    color: #666
}

.rue_sectionHeader_placement-left {
    flex-direction: row
}

.rue_sectionHeader_placement-left .rue_sectionHeader_content {
    align-items: flex-start
}

.rue_sectionHeader_placement-right {
    flex-direction: row-reverse
}

.rue_sectionHeader_placement-right .rue_sectionHeader_content {
    align-items: flex-end
}

.rue_sectionHeader_placement-center {
    flex-direction: column;
    align-items: center
}

.rue_sectionHeader_placement-center .rue_sectionHeader_content {
    align-items: center
}

.rue_sectionHeader_placement-center .rue_sectionHeader_controls {
    margin-top: 10px
}

.rue_sectionHeader_size-sm .rue_sectionHeader_subtitle,
.rue_sectionHeader_size-xs .rue_sectionHeader_title {
    font-size: 14px
}

.rue_sectionHeader_size-md .rue_sectionHeader_subtitle,
.rue_sectionHeader_size-sm .rue_sectionHeader_title {
    font-size: 16px
}

.rue_sectionHeader_size-lg .rue_sectionHeader_subtitle,
.rue_sectionHeader_size-md .rue_sectionHeader_title {
    font-size: 18px
}

.rue_sectionHeader_size-lg .rue_sectionHeader_title {
    font-size: 24px
}

.rue_sectionHeader_size-xl .rue_sectionHeader_title {
    font-size: 32px
}

.rue_sectionHeader_size-xs .rue_sectionHeader_subtitle {
    font-size: 12px
}

.rue_sectionHeader_size-xl .rue_sectionHeader_subtitle {
    font-size: 20px
}