.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tableHeader {
  background-color: #ecf0f1;
}

.tableHeader th {
  border: 1px solid #bdc3c7;
  padding: 12px;
  text-align: left;
  color: #34495e;
}

.tableBody td {
  border: 1px solid #bdc3c7;
  padding: 12px;
}