.rue_list_group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: .5rem;
  border-radius: .25rem
}

.rue_list_group_item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125)
}

.rue_list_group_item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.rue_list_group_item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.rue_list_group_item:focus,
.rue_list_group_item:hover {
  z-index: 1;
  text-decoration: underline
}

.rue_list_group_item_primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff
}

.rue_list_group_item_secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db
}

.rue_list_group_item_success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}

.rue_list_group_item_danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.rue_list_group_item_warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba
}

.rue_list_group_item_info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb
}

.rue_list_group_item_light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe
}

.rue_list_group-_item_dark {
  color: #1b1e21;
  background-color: #c6c8ca;
  border-color: #bdc6cb
}

.rue_list_group_sm .rue_list_group_item {
  font-size: .875rem;
  line-height: 1.5;
  padding: .25rem .5rem
}

.rue_list_group_md .rue_list_group_item {
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem
}

.rue_list_group_lg .rue_list_group_item {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: .5rem 1rem
}

.rue_list_group_xl .rue_list_group_item {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: .75rem 1.5rem
}

.rue_list_group_xxl .rue_list_group_item {
  font-size: 1.75rem;
  line-height: 1.5;
  padding: .75rem 1.5rem
}