.rue_accordionHeader.active,
.rue_iconActive {
    color: #fff !important
}

.rue_accordion {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .375rem;
    overflow: hidden
}

.rue_accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #f8f9fa;
    transition: background-color .3s
}

.rue_accordionHeader:hover {
    background-color: #e9ecef
}

.rue_icon {
    width: 25px;
    height: 25px;
    transition: transform .3s
}

.rue_iconActive {
    transform: rotate(180deg)
}

.rue_accordionBody {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s
}

.rue_bodyActive {
    max-height: 1000px
}

.rue_bodyContent,
.rue_size_md .rue_bodyContent {
    padding: 1rem
}

.rue_accordion_primary .rue_accordionHeader.rue_active {
    background-color: #007bff;
    color: #ffffff;
}

.rue_accordion_secondary .rue_accordionHeader.rue_active {
    color: #ffffff;
    background-color: #6c757d
}

.rue_accordion_success .rue_accordionHeader.rue_active {
    color: #ffffff;
    background-color: #28a745
}

.rue_accordion_danger .rue_accordionHeader.rue_active {
    color: #ffffff;
    background-color: #dc3545
}

.rue_accordion_warning .rue_accordionHeader.rue_active {
    background-color: #ffc107;
    color: #212529
}

.rue_accordion_help .rue_accordionHeader.rue_active {
    color: #ffffff;
    background-color: #6f42c1;
}

.rue_accordion_info .rue_accordionHeader.rue_active {
    color: #ffffff;
    background-color: #17a2b8
}

.rue_accordion_dark .rue_accordionHeader.rue_active {
    color: #ffffff;
    background-color: #343a40
}

.rue_accordion_light .rue_accordionHeader.rue_active {
    background-color: #f8f9fa;
    color: #212529 !important
}

.rue_size_sm .rue_accordionHeader {
    padding: .5rem .75rem;
    font-size: .875rem;
    font-weight: 500;
}

.rue_size_lg .rue_icon,
.rue_size_md .rue_icon,
.rue_size_sm .rue_icon {
    width: 25px;
    height: 25px
}

.rue_size_sm .rue_bodyContent {
    padding: .75rem
}

.rue_size_md .rue_accordionHeader {
    padding: .75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.rue_size_lg .rue_accordionHeader {
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.rue_size_lg .rue_bodyContent {
    padding: 1.25rem
}

.rue_size_sm,
.rue_size_md,
.rue_size_lg {
    border-radius: .375rem
}

.rue_accordionHeader:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, .125)
}