.stack {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.alignItemsStart {
    align-items: flex-start;
}

.alignItemsCenter {
    align-items: center;
}

.alignItemsEnd {
    align-items: flex-end;
}

.alignItemsStretch {
    align-items: stretch;
}

.alignContentStart {
    align-content: flex-start;
}

.alignContentCenter {
    align-content: center;
}

.alignContentEnd {
    align-content: flex-end;
}

.alignContentStretch {
    align-content: stretch;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}